<?xml version="1.0" encoding="utf-8" ?>

<!-- API Sandbox Branch -->
<configuration>
  <appSettings>
    <add key="EPOS_CONSUMER_KEY" value=""/>
    <add key="EPOS_CONSUMER_SECRET" value=""/>
    <add key="EPOS_SERVICE_OAUTH_URI" value="https://app.rdbranch.com/OAuth/V10a"/>
    <add key="EPOS_SERVICE_BASE_URI" value="http://app.rdbranch.com/"/>
    <add key="EPOS_IGNORE_SSL_ERRORS" value="false"/>
    
    <add key="EPOS_API_SANDBOX_SECOND_SECRET" value=""/>
    <add key="EPOS_API_SANDBOX_RESTAURANT_ID" value=""/>
    <add key="EPOS_API_SANDBOX_SEGMENT_ID" value=""/>
    <add key="EPOS_API_SANDBOX_SEGMENT_NAME" value=""/>
    <add key="EPOS_API_SANDBOX_RESTAURANT_AREA_ID" value=""/>
    <add key="EPOS_API_SANDBOX_TABLE_1_ID" value=""/>
    <add key="EPOS_API_SANDBOX_TABLE_6_ID" value=""/>
    <add key="EPOS_API_SANDBOX_TABLE_7_ID" value=""/>
    <add key="EPOS_API_SANDBOX_API_TEST_CHANNEL_ID" value=""/>
    <add key="EPOS_API_SANDBOX_FOREVER_PROMOTION_ID" value=""/>
  
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_CONSUMER_SECOND_SECRET" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_RESTAURANT_ID"  value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_SEGMENT_ID" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_SEGMENT_NAME" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_RESTAURANT_AREA_ID" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_TABLE_1_ID" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_TABLE_6_ID" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_TABLE_7_ID" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_API_TEST_CHANNEL_ID" value=""/>
    <add key="EPOS_API_SANDBOX_WITH_BUMPING_FOREVER_PROMOTION_ID" value=""/>
 
    <!--For Testing-->
    <add key="Restaurant_Name" value=""/>
    <add key="Table_Join_Covers" value=""/>
  </appSettings>
</configuration>


