<?xml version="1.0" encoding="utf-8" ?>

<!-- API Sandbox Branch -->
<configuration>
  <appSettings>
    <add key="EPOS_CONSUMER_KEY" value="yzQZiAm0T0HhseMLBUFOvGWipoEznhT0"/>
    <add key="EPOS_CONSUMER_SECRET" value="21GmpyicAVqYIK6CUjyTVnGHeejdOJFE"/>
    <add key="EPOS_SERVICE_OAUTH_URI" value="https://app.rdbranch.com/OAuth/V10a"/>
    <add key="EPOS_SERVICE_BASE_URI" value="http://app.rdbranch.com/"/>
    <add key="EPOS_IGNORE_SSL_ERRORS" value="false"/>
    <add key="EPOS_API_SECOND_SECRET" value="ihf5q1Aw8qIqHc4o"/>
    <add key="EPOS_API_RESTAURANT_ID" value="1049"/>
    <add key="RESTAURANT_NAME" value="Adam's Restaurant 2"/>
  </appSettings>
</configuration>


