<?xml version="1.0" encoding="utf-8"?>

<!-- API Sandbox Branch -->
<configuration>
  <appSettings>
    <add key="EPOS_CONSUMER_KEY" value="" />
    <add key="EPOS_CONSUMER_SECRET" value="" />
    <add key="EPOS_SERVICE_OAUTH_URI" value="https://app.rdbranch.com/OAuth/V10a" />
    <add key="EPOS_SERVICE_BASE_URI" value="http://app.rdbranch.com/" />
    <add key="EPOS_IGNORE_SSL_ERRORS" value="false" />
    <add key="EPOS_API_SECOND_SECRET" value="" />
    <add key="EPOS_API_RESTAURANT_ID" value="" />
    <add key="RESTAURANT_NAME" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


